.app {
  padding: 10px;
}

body{
  text-align: center;

}

.table-container{
  display: flex;
  justify-content: space-between;

}

.student-list{
  padding: 40px;
  text-align: center;
} 

.name{
  padding-left: 10px;
}

.student{
  display: flex;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px 0px;
  justify-content: space-around;
}

.trainings{
  display: inline-block;
}

table {
  width: 100%;
  margin-top: 10px;
}

th, td {
  border: 1px solid #dddddd8c;
  padding: 5px;
  text-align: center;
}

.AddStudentForm {
  margin-top: 20px;
}

.navigation{
  padding: 10px;
}
li{
  display: inline;
  margin-right: 15px;
}

.nav.link{
  padding: 7px;
  
}





